<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api-auftrag.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a4955e63-4b64-4015-987f-d3b738be7792/resourceGroups/API-Auftrag_group-896e/providers/Microsoft.Web/sites/API-Auftrag</ResourceId>
    <PublishUrl>https://api-auftrag.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>